.arraging {
    display: flex;
    height: calc(100vh - 77px);
    width: 100%;

    margin-top: 77px !important;
    /* background-color: violet; */
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.sidebar-titlebox {
    margin-top: 12px;
    margin-left: 8px;
    line-height: 16px;
}

.sidebar {
    width: 300px;
    height: 100%;
    /* background-color: aqua; */
}

.title-sidebar {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.subtitle-sidebar {
    font-size: 0.9rem;
    font-style: italic;
}

.filter-box {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    border-bottom: 2px solid;
}

.filter-box-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}

.flower-icon{
    width: 30px;
    height: 30px;
}

.filter-icon {
    width: 20px;
    height: 20px;
}

.filter-box-item:hover {
    background-color: aquamarine;
}