
/* 1. IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Lato:wght@300;400;700&display=swap');

/* 2. Global Variable*/
:root{
  /* BẢNG MÀU */
  --primary-color: #4A0404;    /* Đỏ rượu (Burgundy) - Màu chính */
  --primary-light: #7A1F1F;    /* Đỏ nhạt hơn (Dùng khi Hover) */
  
  --bg-cream: #F9F5F0;    /* Màu Kem (Background chính) */
  --bg-white: #FFFFFF;    /* Màu trắng (Nền thẻ Card) */
  
  --text-main: #2C2C2C;  /* Chữ đen xám (Dễ đọc hơn đen tuyền) */
  --text-light: #666666;  /* Chữ phụ (Mô tả ngắn) */
  --text-accent: #D4AF37;  /* Màu Vàng Gold (Dùng cho icon ngôi sao, điểm nhấn) */
  
  /* --- FONTS --- */
  --font-heading: 'Playfair Display SC', serif;  /* Font Tiêu đề "Nghệ" */
  --font-body: 'Lato', sans-serif;  /* Font nội dung hiện đại */

  /* --- UI ELEMENTS --- */
  --border-radius: 8px;  /* Bo góc nhẹ */
  --transition: all 0.3s ease;  /* Tốc độ hiệu ứng mượt chuẩn */
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.05);  /* Đổ bóng nhẹ */
  
  /* --- KÍCH THƯỚC (SPACING) --- */
  --container-width: 1200px;  /* Chiều rộng tối đa của web */
  --container-width-mobile: 100%; /* Chiều rộng trên mobile (thường full màn hình) */
  --container-padding: 15px;      /* Khoảng cách lề trong an toàn cho mobile */
}

/* 3. CSS reset & base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /*Giữ kích thức không bị phình */
}

html{
  scroll-behavior: smooth;
  font-size:16px
}

body{
  font-family: var(--font-body);
  background-color: var(--bg-cream); /* Nền màu kem toàn trang */
  color: var(--text-main);
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
  font-family: Var(--font-heading);
  color: var(--primary-color);
}

a{
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}


